/* Эффект градиентного блюра для аватара */
.blur-gradient-effect {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 34px;
    overflow: hidden;
}
.blur-gradient-effect::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 30%; /* 30% изображения будет покрыто блюром */
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255 255 255 / 90%)), color-stop(70%, rgb(255 255 255 / 20%)), to(rgb(255 255 255 / 0%)));
    background: -o-linear-gradient(top, rgb(255 255 255 / 90%) 0%, rgb(255 255 255 / 20%) 70%, rgb(255 255 255 / 0%) 100%);
    background: linear-gradient(to bottom, rgb(255 255 255 / 90%) 0%, rgb(255 255 255 / 20%) 70%, rgb(255 255 255 / 0%) 100%);
    z-index: 1;
    backdrop-filter: blur(5px); /* Блюр для современных браузеров */
    -webkit-backdrop-filter: blur(5px); /* Safari поддержка */
}
/* Анимация при наведении */
.blur-gradient-effect:hover .profile-avatar {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}